/**************************** TABLET DISPLAYS ****************************/

@media screen and (max-width: 1600px) {
    nav {
        width: 600px;
    }
    .pagewrapper {
        height: 75%;
        position: absolute;
        top: 85px;
    }
}
/* END OF 1600px */



@media screen and (max-width: 1350px) {
    /******************* MAPS *****************/
    
    #map {
        left: 100px;
    }
    #route {
        right: 100px;
    }
}
/*END OF 1350px */

@media screen and (max-width: 1100px) {
    nav {
        width: 500px;
    }
    .pagewrapper {
        margin: auto;
        width: 94%;
        top: 90px;
        height: 75%;
        left: 3%;
        background-color: rgba(96, 96, 96, 0.7);
    }
    .pagewrapper h1 {
        font-size: 1em;
    }
    /* LOGO */
    
    #logobox {
        width: 25%;
        height: auto;
    }
    #logo {
        margin-left: 5px;
        width: 90%;
    }
    /******************* FOOTER *****************/
    
    footer {
        height: 80px;
        text-align: center;
    }
    /* display mobile nav*/
    
    #mobileMenu {
        display: none;
    }
    footer h1 {
        left: 35%;
        top: 5px;
    }
    /******************* MAPS *****************/
    
    #map {
        top: 25px;
        left: 70px;
    }
    #route {
        top: 25px;
        right: 80px;
    }
    /************** BOOK APPOINTMENT **********/
    
    #appointments p {
        margin: 0;
    }
    #bookAppointment {
        position: relative;
        top: 10px;
    }
}
/*END OF 1100px */

@media screen and (max-width: 769px) {
    nav {
        width: 500px;
    }
    nav ul {
        padding: 0px;
    }
    .pagewrapper {
        height: 80%;
    }
    /******************* MAPS *****************/
    
    #map {
        width: 80%;
        height: 40%;
    }
    #route {
        width: 80%;
        height: 40%;
        top: 60px;
    }
    /****** FITTING (personal tailoring) **********/
    
    #personalTailoring {
        height: 85%;
        width: 90%;
    }
    #personalTailoring p {
        font-size: 0.7em;
    }
    /************** BOOK APPOINTMENT **********/
    
    #appointments p {
        margin-top: 20px;
    }
    #bookAppointment {
        position: relative;
        top: 70px;
    }
}
/*END OF 768px */
/**************************** MOBILE DISPLAYS ****************************/

@media screen and (max-width: 736px) {
    nav {
        display: none;
    }
    footer {
        text-align: center;
    }
    footer > ul:nth-child(5) {
        display: block;
    }
    footer > ul {
        margin: 0;
        list-style-type: none;
        margin-right: 20px;
        margin-top: 10px;
    }
    footer > ul li {
        font-size: 1.5em;
        margin: 0;
        margin-right: 1%;
        margin-left: 1%;
        display: inline;
    }
    footer ul li a {
        text-decoration: none;
    }
    footer ul:nth-child(5) > li:nth-child(2) {
        color: #f85c37;
    }
    footer {
        height: 45px;
        text-align: center;
    }
    /*Hide desktop elements*/
    
    footer h1,
    #rightlist,
    #footerlist1,
    #footerlist2 {
        display: none;
    }
    #mobileMenu,
    .mobileMenuToggle {
        display: block;
    }
    .mobileMenuToggle {
        color: #a2a2a2;
        text-align: center;
        background-color: rgba(96, 96, 96, 0.7);
        height: 40px;
        width: 70px;
        float: right;
        margin-right: 1%;
    }
    .mobileMenuContent {
        background-color: rgba(96, 96, 96, 0.9);
        text-align: center;
        margin: auto;
        display: none;
        clear: both;
        width: 100%;
        position: absolute;
        top: 40px;
        z-index: 1000;
        border-top: 1px solid #f85c37;
        border-bottom: 1px solid #f85c37;
    }
    #mobileMenu hr {
        background: #f85c37;
        height: 1px;
        border: 0px;
        width: 100%;
    }
    #mobileMenu > div > h3 > a {
        text-decoration: none;
        color: #ffffff;
    }
    #mobileMenu > div > h4 {
        margin-top: 12px;
    }
    .pagewrapper {
        height: 70%;
        top: 70px;
    }
    /***************** Privacy *****************/
    
    #policy {
        height: 65%;
    }
    #policy h3 {
        font-size: 1em;
    }
    #policy p {
        font-size: 0.9em;
    }
    /***************** HISTORY *****************/
    
    #companyHistory {
        height: 65%;
    }
    #companyHistory h3 {
        font-size: 1em;
    }
    #companyHistory p {
        font-size: 0.9em;
    }
    /***************** Deliveries *****************/
    
    #deliveries {
        height: 65%;
    }
    #deliveries h3 {
        font-size: 1em;
    }
    #deliveries p {
        font-size: 0.9em;
    }
    /******************* MAPS *****************/
    
    #map {
        float: left;
        width: 45%;
        height: 70%;
        top: 10px;
        left: 20px;
    }
    #route {
        float: right;
        width: 45%;
        height: 70%;
        top: 10px;
        right: 20px;
    }
    /****** FITTING (personal tailoring) **********/
    
    #personalTailoring {
        height: 65%;
    }
    #personalTailoring h3 {
        font-size: 0.8em;
    }
    #moreMiddleInfo,
    #topInfo,
    #middleInfo {
        margin: 0;
        width: 100%;
        min-height: auto;
        margin-bottom: 10px;
    }
    #bottomInfo {
        margin: 0;
        width: 100%;
        min-height: auto;
        margin-bottom: 10px;
    }
    #topImage,
    #middleImage,
    #moreMiddleImage,
    #bottomImage {
        display: none;
    }
    /************** BOOK APPOINTMENT **********/
    
    #appointments {
        height: 65%;
    }
    #appointments p {
        margin: -10px;
        font-size: 0.7em;
    }
    #bookAppointment {
        top: 20px;
    }
    #appointmentName,
    #datepicker,
    #appointmentEmail,
    #appontmentPhone {
        height: 10px;
        width: 40%;
        display: inline;
        margin: 10px;
    }
    #appointmentSubmit {
        height: 35px;
        margin-top: 10px;
    }

 /************** Suits/store **********/

#suits{
    height: 69%;
    top: -8px;
}

ul.products li { 
    width: 170px;
    height: 300px;}

#suits > ul > li > form > div > div.product-thumb > img {

           min-height:  85px;
    min-width: 85px;
        height: 75px;
        width: 85px;
}

ul.products li h3 { 
    font-size: 0.8em;
    padding-bottom: 7px; }


.product-desc { font-size: 0.6em;}

.product-info{ font-size: 0.6em;}
/*BASKET VIEW*/


}
/* END OF 736px STYLES */

@media screen and (max-width: 667px) {
    .pagewrapper {
        height: 65%;
        top: 70px;
    }
    /***************** Privacy *****************/
    
    #policy {
        height: 55%;
    }
    #policy h3 {
        font-size: 0.9em;
    }
    #policy p {
        font-size: 0.8em;
    }
    /***************** HISTORY *****************/
    
    #companyHistory {
        height: 55%;
    }
    #companyHistory h3 {
        font-size: 0.9em;
    }
    #companyHistory p {
        font-size: 0.8em;
    }
    /***************** Deliveries *****************/
    
    #deliveries {
        height: 55%;
    }
    #deliveries h3 {
        font-size: 0.9em;
    }
    #deliveries p {
        font-size: 0.8em;
    }
    /************** BOOK APPOINTMENT **********/
    
    #appointments {
        top: -9px;
        height: 65%;
    }
    #appointments p {
        margin: -10px;
        font-size: 0.5em;
    }
    #bookAppointment {
        top: 10px;
    }
    #appointmentName,
    #datepicker,
    #appointmentEmail,
    #appontmentPhone {
        height: 10px;
        width: 40%;
        display: inline;
        margin: 10px;
    }
    #appointmentSubmit {
        height: 35px;
        margin-top: 10px;
    }

 /************** Suits/store **********/

#suits{
    height: 67%;

}

}
/* END OF 667px STYLES */

@media screen and (max-width: 568px) {
    .pagewrapper {
        height: 67%;
        top: 55px;
    }
    /***************** Privacy *****************/
    
    #policy {
        width: 85%;
        height: 55%;
        top: -10px;
    }
    #policy h3 {
        font-size: 18px;
    }
    #policy p {
        font-size: 14px;
    }
    /***************** HISTORY *****************/
    
    #companyHistory {
        width: 85%;
        height: 55%;
        top: -10px;
    }
    #companyHistory h3 {
        font-size: 18px;
    }
    #companyHistory p {
        font-size: 14px;
    }
    /***************** deliveries *****************/
    
    #deliveries {
        width: 85%;
        height: 55%;
        top: -10px;
    }
    #deliveries h3 {
        font-size: 18px;
    }
    #deliveries p {
        font-size: 14px;
    }
    footer {
        height: 40px;
    }
    /***************** MAPS *****************/
    
    #map {
        top: -5px;
        height: 75%;
        left: 10px;
    }
    #route {
        font-size: 0.7em;
        top: -5px;
        height: 75%;
        right: 10px;
    }
    /****** FITTING (personal tailoring) **********/
    
    #personalTailoring {
        height: 55%;
        width: 85%;
    }
    #personalTailoring p {
        font-size: 0.7em;
    }
    /************** BOOK APPOINTMENT **********/
    
    #appointments {
        height: 65%;
    }
    #appointments p {
        margin: -15px;
        font-size: 0.5em;
    }
    #bookAppointment {
        top: 20px;
    }
    #appointmentName,
    #datepicker,
    #appointmentEmail,
    #appontmentPhone {
        height: 10px;
        width: 40%;
        display: inline;
        margin: 7px;
    }
    #appointmentSubmit {
        height: 35px;
        margin-top: 5px;
    }

     /************** Suits/store **********/

#suits{
    height: 63%;
    top: -8px;
}

}
/* END OF 568px STYLES */

@media screen and (max-width: 415px) {
    .pagewrapper {
        height: 83%;
        top: 60px;
    }
    /***************** Privacy *****************/
    
    #policy {
        top: 10px;
        height: 80%;
    }
    #policy h3 {
        font-size: 1em;
    }
    #policy p {
        font-size: 0.9em;
    }
    /***************** HISTORY *****************/
    
    #companyHistory {
        top: 10px;
        height: 80%;
    }
    #companyHistory h3 {
        font-size: 1em;
    }
    #companyHistory p {
        font-size: 0.9em;
    }
    /***************** DELIVERIES *****************/
    
    #deliveries {
        top: 10px;
        height: 80%;
    }
    #deliveries h3 {
        font-size: 1em;
    }
    #deliveries p {
        font-size: 0.9em;
    }
    /*footer*/
    
    footer > ul {
        margin-right: 20px;
        margin-top: 10px;
    }
    footer > ul li {
        font-size: 1.3em;
    }
    #map {
        width: 95%;
        height: 43%;
        top: 5px;
    }
    #route {
        width: 95%;
        height: 43%;
        top: 20px;
    }
    /****** FITTING (personal tailoring) **********/
    
    #personalTailoring {
        height: 82%;
        width: 85%;
    }
    /************** BOOK APPOINTMENT **********/
    
    #appointments {
        top: 10px;
        height: 80%;
        width: 85%;
    }
    #appointments p {
        margin: -10px;
        font-size: 0.8em;
    }
    #bookAppointment {
        top: 70px;
    }
    #appointmentName,
    #datepicker,
    #appointmentEmail,
    #appontmentPhone {
        height: 15px;
        width: 90%;
        display: inline;
        margin-bottom: 20px;
    }
    #appointmentSubmit {
        height: 35px;
        margin-top: 10px;
    }

     /************** Suits/store **********/

#suits{
    height: 86%;
    width: 85%;
    top: -8px;
}

}
/* END OF 415 styles*/
}
/* END OF 414px */

@media screen and (max-width: 380px) {
    .pagewrapper {
        height: 85%;
        top: 45px;
    }
    footer > ul {
        margin-right: 20px;
        margin-top: 10px;
    }
    footer > ul li {
        font-size: 1.1em;
    }
    /************** BOOK APPOINTMENT **********/
    
    #appointments {
        height: 65%;
    }
    #appointments p {
        margin: -10px;
        font-size: 10em;
    }
    #bookAppointment {
        top: 20px;
    }
    #appointmentName,
    #datepicker,
    #appointmentEmail,
    #appontmentPhone {
        height: 10px;
        width: 60%;
        display: inline;
        margin: 10px;
    }
    #appointmentSubmit {
        height: 35px;
        margin-top: 10px;
    }

     /************** Suits/store **********/

#suits{
    height: 72%;
    top: -8px;
}

}
/* END OF 415 styles*/

@media screen and (max-width: 320px) {
    .pagewrapper {
        height: 78%;
    }
    /*FOOTER*/
    
    footer > ul {
        margin: 0;
        list-style-type: none;
        font-size: 0.9em;
        margin-top: 10px;
        position: relative;
        left: -20px;
    }
    /****** FITTING (personal tailoring) **********/
    
    #personalTailoring {
            width: 80%;
        top: -5px;
        height: 75%;
    }
    #personalTailoring p {
        font-size: 0.7em;
    }
    /*************** Privacy ***************/
    
    #policy {
           width: 80%;
        top: -5px;
        height: 80%;
    }
    #policy h3 {
        font-size: 0.7em;
    }
    #policy p {
        font-size: 0.6em;
    }
    /*************** HISTORY ***************/
    
    #companyHistory {
            width: 80%;
        top: -5px;
         height: 75%;
    }
    #companyHistory h3 {
        font-size: 0.7em;
    }
    #companyHistory p {
        font-size: 0.6em;
    }
    /*************** Deliveries ***************/
    
    #deliveries {
           width: 80%;
        top: -5px;
         height: 75%;
     }
    #deliveries h3 {
        font-size: 0.7em;
    }
    #deliveries p {
        font-size: 0.6em;
    }

    /*MAP*/
    #map {
        top: 0;
        width: 90%;
        height: 40%;
        left: 15px;
    }
    #route {
        width: 90%;
        height: 40%;
        top: 20px;
        right: 14px;
    }
    /************** BOOK APPOINTMENT **********/
    
    #appointments {
           width: 80%;
        top: -5px;
         height: 75%;
    }
    #appointments p {
        margin: -10px;
        font-size: 0.5em;
    }
    #bookAppointment {
        top: 30px;
    }
    #appointmentName,
    #datepicker,
    #appointmentEmail,
    #appontmentPhone {
        height: 10px;
        width: 90%;
        display: inline;
        margin-bottom: 15px;
    }
    #appointmentSubmit {
        height: 35px;
        margin-top: 10px;
    }
     /************** Suits/store **********/

#suits{
     width: 80%;
        top: -5px;
         height: 75%;}

}
/* END OF 320px */